.st-emotion-cache-1eo1tir {
    padding-left: 1rem;
    padding-right: 1rem;
    margin-top: -300px;
}
 
.st-emotion-cache-1c7y2kd {
    display: flex;
    align-items: flex-start;
    gap: 0.5rem;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: #e1e1e1a1;
}
 
.st-emotion-cache-4oy321 {
    display: flex;
    align-items: flex-start;
    gap: 0.5rem;
    padding: 1rem 0px 1rem 1rem;
    border-radius: 0.5rem;
    background-color: #e1e1e1a1
}
p, ol, ul, dl {
    margin: 0px 0px 1rem;
    padding: 0px;
    font-size: 1rem;
    font-weight: 520;
}